.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
 .features {
    min-width: 130px !important;
  }
  .company {
    min-width: 60px !important;
  }
.nav-item.open .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-top: 0px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-cursor{ 
    cursor: pointer;
}
.login-btn:hover, .register-btn:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: yellow;
}
@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/epilogue/v13/O4ZRFGj5hxF0EhjimlIqsggqlg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/epilogue/v13/O4ZRFGj5hxF0EhjimlIqsggqlg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  .Epilogue {
    font-family: 'Epilogue';
  }

  .nav-item{
    width: 15%;
  }
  @media (min-width: 768px) {
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
    .navbar-nav > li {
      float: none;
      display: inline-block;
    }
    .navbar-nav > li.navbar-right {
      float: right !important;
    }
  }

@media (max-width: 768px){
    .nav-item{
        display: block;
        width: 50%;
        text-align: left;
        margin: 0 auto;
        padding: 10px;
      }
        .login-btn{
            width: 80%;
            text-align: center;
            margin-left: 10%;
            margin-top: 10px;
            display: block;
        }
        .register-btn{
            width: 80%;
            margin-left: 10%;
            margin-top: 10px;
            display: block;
            text-align: center;
        }
      .dropdown-menu{
        width: 100%;
        display: block;
      }
    }
}